version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6.2-stretch-browsers
        environment:
          FLASK_ENV: testing
          SQLALCHEMY_DATABASE_URI: postgresql://postgres:postgres20930988@localhost:5432/test_flask_api
          TEST_DATABASE_URL: postgresql://postgres:postgres20930988@localhost:5432/test_flask_api?sslmode=disable
      - image: circleci/postgres:9.6.5-alpine-ram
        environment:
          POSTGRES_USER: postgres
          POSTGRES_DB: test_flask_api
          POSTGRES_PASSWORD: 'postgres20930988'
    steps:
      - checkout
      - run: mkdir test-reports
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            pip install -r requirements.txt
      - save_cache:
          key: deps2-{{ checksum "requirements.txt" }}
          paths:
            - 'venv'
      - run:
          command: |
            . venv/bin/activate
            python3 manage.py pytest
      - store_artifacts:
          path: test-reports
          destination: tr1
      - store_test_results:
          path: test-reports
    deploy:
      steps:
        - checkout
        - run:
            name: Deploy Develop to Heroku
            command: |
              git push https://heroku:$HEROKU_API_KEY@git.heroku.com/$HEROKU_APP_NAME.git develop:master
